<div class="wish-list-container">

<ul>
    <li class="wish-item-container shadow" *ngFor="let wish of wishList" (click)="edit(wish)">
        <figure>
            <img src={{URL.concat(wish.wish_image_url)}} alt="">
        </figure>

        <div class="wish-item-data">
            <h2 class="user-name" >{{ wish.user_name }}</h2>
            <h3 class="wish-name" >{{ wish.wish_name }}</h3>
            <p class="" >$ {{ wish.wish_price }} MXN</p>
            <p class="" >{{ wish.wish_description }}</p>
            <a class=""  [href]=wish.wish_url target="_blank">Ver poducto</a>
            <div>
                <p></p>
            </div>
        </div>
    </li>
</ul>
<div>