<ul class="nav nav-tabs">

  <li class="nav-item">
    <a class="nav-link" routerLink="login" routerLinkActive="active">Login</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="sign" routerLinkActive="active">Sign Up</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="create-wish-list" routerLinkActive="active">Create wish list</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="users-wish-list" routerLinkActive="active">Users wish list</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="current-user" routerLinkActive="active">Account</a>
  </li>

</ul>
<main class="content" role="main">
  <router-outlet></router-outlet>
</main>