<div class="section-container">

    <div class="form shadow">
        <div class="">
            <h2>Crear cuenta</h2>
            <form id="form" class="contact-form-container">
                <div class="input-container">
                    <label class="form-label" for="userName"
                        class="roboto-font font-color-black font-weight-bold form-label">Nombre*</label>
                    <input class="form-control" [(ngModel)]="userName" type="text" name="userName" id="">
                </div>
                <div class="input-container">
                    <label for="userEmail"
                        class="form-label roboto-font font-color-black font-weight-bold form-label">e-mail*</label>
                    <input class="form-control" [(ngModel)]="userEmail" (ngModelChange)="validateEmail($event)" type="text" name="userEmail" id="email">
                    <div id="invalid-email" class="hide" style="color: red; font-size: 12px;">Formato de correo no valido</div>
                </div>
                <div class="input-container">
                    <label class="form-label" for="userPassword"
                        class="roboto-font font-color-black font-weight-bold form-label">Contraseña*</label>
                    <input class="form-control" [(ngModel)]="userPassword" type="text" name="userPassword" id="">
                </div>
                <div class="input-container">
                    <label class="form-label" for="userPassword"
                        class="roboto-font font-color-black font-weight-bold form-label">Departamento*</label>
                    <select class="form-select" aria-label="Default select example" [(ngModel)]="departmentId" name="department" id="department">
                        <option [ngValue]="department.department_id" *ngFor="let department of departments">
                            {{ department.department_name }}
                        </option>
                    </select>
                </div>
                <div class="buttons-container d-grid gap-2">
                    <button id="signButton" class="btn btn-success" (click)="createUser()">Crear cuenta</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modal-container" class="modal-container">
    <div class="content">
      <div class="cross-container" (click)="hide()">
        <div class="cross-circle shadow">
          <div class="rect"></div>
          <div class="rect"></div>
        </div>
      </div>
      <svg style="margin-top: 30px" xmlns="http://www.w3.org/2000/svg" width="116.059" height="116.063" viewBox="0 0 116.059 116.063">
        <g id="check2-circle" transform="translate(-3.375 -3.373)">
          <path id="Trazado_47" data-name="Trazado 47"
            d="M88.829,6.691a3.625,3.625,0,0,1,0,5.134L38.073,62.581a3.625,3.625,0,0,1-5.134,0L11.186,40.828a3.63,3.63,0,0,1,5.134-5.134L35.508,54.885,83.7,6.688a3.625,3.625,0,0,1,5.134,0Z"
            transform="translate(20.028 20.094)" fill="#e1d841" stroke="#e1d841" stroke-width="2" />
          <path id="Trazado_48" data-name="Trazado 48"
            d="M61.4,12.31a49.1,49.1,0,1,0,49.1,49.1,4.464,4.464,0,0,1,8.928,0A58.029,58.029,0,1,1,90.418,11.147a4.464,4.464,0,1,1-4.464,7.721A48.851,48.851,0,0,0,61.4,12.31Z"
            transform="translate(0 0)" fill="#7eab3b" />
        </g>
      </svg>
      <article>
        <p class="modal-text">Usuario creado.</p>
      </article>
    </div>
  </div>